@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Questrial');



* {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.42;
  background-color: rgb(255, 255, 255);
}

.g__wrapper {
	display: block;
	margin: 0;
	padding: 0;
}
.g__container {
	display: block;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 16px;
}
.g__row {
	display: block;
	padding: 0;
	margin: 0 -16px;
	overflow: hidden;
}
.g__wrapper::after, .g__container::after, .g__row::after {
	content: " ";
	display: table;
	clear: both;
}
.g__column {
	position: relative;
	float: left;
	padding: 0 16px;
	overflow: hidden;
}

.g__column-icons-color {
    background-color: #61c19c;
    min-height: 20vh;
}

.g__column-icons-white {
    background-color: #FFF;
    min-height: 20vh;
}

.g__column-12 { width: 100%; }
.g__column-06 { width: 50%; }
.g__column-04 { width: 33.3333%; }
.g__column-03 { width: 25%; }
.g__column-13 { width: 66.6666%; }



/* title */

.title_border {
    border: 3px solid rgba(0, 0, 0, 0.3);
    width: 20%;
    margin: 0 auto;
    margin-top: 8em;
    margin-bottom: 8em;
    color: rgba(0, 0, 0, 0.3);
}

h1.title {
    font-family: 'muli';
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* typografie */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli','Open Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
}

h1.typo, h2.typo, h3.typo, h4.typo, h5.typo, h6.Typo {
  font-family: 'Muli', sans-serif;
}

h2 {
    font-size: 1.3em;
}

p {
    font-family: 'muli';
    font-size: 14px;
    line-height: 1.42;
}

/* knoppen */

.button {
    border-radius: 0;
    border-style: solid;
    border-width: 0 0;
    display: inline-block;
    font-weight: bold;
    padding: .25em 1.5em;
    text-decoration: none;
    font-family: 'muli';
    margin: 1em 0 0 5.5em;
}
.button:hover {
    text-decoration: none;
}

.button--home {
    margin: 15% 0 0 62%;
}

.button--home2 {
    margin: 15% 0 0 0%;
}

.button--primary,
.button--primary:active,
.button--primary:visited {
    border: 3px solid #15243d;
    color: #15243d;
    padding: 0.25em 2.15em;
}

.button--primary:hover {
    background-color: #15243d;
    color: #FFF;
    border: 3px solid #15243d;
}

.button--secondary,
.button--secondary:active,
.button--secondary:visited {
    color: #61c19c;
    border: 3px solid #61c19c;
}

.button--secondary:hover {
    background-color: #61c19c;
    color: #FFF;
    border: 3px solid #61c19c;
}

.button--tertiary,
.button--tertiary:active,
.button--tertiary:visited {
    color: #FFF;
    border: 3px solid #FFF;
    margin: 3% 0 3% 40%;
}

.button--tertiary:hover {
    background-color: #FFF;
    color: #61c19c;
    border: 3px solid #FFF;
}


/* colors */

.circle {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    margin: 0 auto;
}

.circle--primary {
    background-color: #61c19c;
}

.circle--secondary {
    background-color: rgb(22, 36, 62);
}

.circle--tertiary {
    background-color: rgb(206, 210, 211);
}

.circle--quarternary {
    background-color: rgb(127, 128, 132);
}

p.circle {
    text-align: center;
    margin-top: 3%;
}

p.circle_margin {
    margin-top: -39%;
}

/* Links */

#wrapper_nav {
  overflow: auto;
  width: 100%;
  background: #61c19c;
  background: -webkit-linear-gradient(left, #16243e, #61c19c);
  background: -o-linear-gradient(right, #16243e, #61c19c);
  background: -moz-linear-gradient(right, #16243e, #61c19c);
  background: linear-gradient(to right, #16243e, #61c19c);
  margin: 0 auto;
  position: fixed;
  z-index:1000;
}

ul.navlist {
  list-style-type: none;
  
}

ul.navlist > li {
  float: left;
  clear: right;
  font-weight: lighter;
  text-decoration: none;
  font-size: 1.1em;
}

ul.navlist > li > a {
  display: block;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  color: #FFF;
  padding: 27px 14px 27px 18px;
  text-align: center;
  border-bottom: 10px solid transparent;
}


ul.navlist > li > a:hover {
  border-bottom-color: #FFF;
}

/* Titles */

h1.typo {
    font-weight: bold;
    font-size: 4.3em;
    color: #61c19c;
    padding: 0 0 0 2%;
}

p.slogan {
  font-size: 1.2em;
  color: #61c19c;
  font-weight: bold;
  float: left;
  margin: -1.5% 0 0 0;
}
  
.border-top_title {
  width: 20%;
  background-color: #61c19c;
  height: 1.5vh;
  float: left;
}

.border-top_title2 {
  width: 20%;
  background-color: #61c19c;
  height: 1.5vh;
  float: right;
}

.border_title {
  border: 12px solid #61c19c;
  height: 22vh;
  border-top: none;
  width: 50%;
  margin: 20% 0 0 22%;
}

h1.title2 {
  color: #61c19c;
  font-size: 5em;
  font-weight: bold;
  padding: 12% 0 0 3%;
}

/* title-ons */

.border_title-ons {
border: 9px solid #61c19c;
border-top: none;
  height: 18vh;
  width: 75%;
  margin: 33% 0 0 10%;
}

.border-top_title-ons {
  width: 20%;
  height: 1.3vh;
  float: left;
}

.border-top_title2-ons {
  height: 1.2vh;
  float: right;
}

h1.title2-ons {
  font-size: 3em;
  font-weight: bold;
  padding: 17% 0 0 3%;
  color: #61c19c;
}

/* title-diensten */

.border_title-diensten {
border: 12px solid #61c19c;
  height: 22vh;
  border-top: none;
  width: 50%;
}

/* titel-portoflio */

.border_title-portfolio {
  height: 22vh;
  width: 85%;
  margin: 0 0 8% 5%;
}

h1.title2-portfolio {
  padding: 10% 0 0 3%;
}

/* Titel-contact */

.border_title-contact {
  border: 9px solid #FFF;
    border-top: none;
  height: 15vh;
  width: 75%;
  margin: 3% 0 0 3%;
}

.border-top_title-contact {
  width: 35%;
  height: 1vh;
  float: left;
  background-color: rgb(255, 255, 255);
}

.border-top_title2-contact {
  height: 1vh;
  float: right;
  width: 60%;
  background-color: rgb(255, 255, 255);
}

h1.title2-contact {
  font-size: 2.5em;
  font-weight: bold;
  padding: 14.5% 0 0 3%;
  color: #FFF;
}


/* Icons */

.btn_socialmedia {
    width: 100%;
    padding-left: 11%;
}

h1.icons {
    font-family: 'muli';
    font-weight: bold;
    font-size: 1.4em;
    padding: 0 0 2% 11%;
    color: #FFF;
}

/* Maps */

iframe.contact_map {
    width: 100%;
    height: 30vh;
    margin: 15% 0 -0.6% 0;
}

/* Grid */

.diensten {
    box-shadow: 8px 8px 8px rgba(88, 88, 88, 0.2);
    margin-bottom: 20%;
}

.g__column-green {
    background-color: #61c19c;
    min-height: 22vw;
}

.g__column-white {
    background-color: #FFF;
    min-height: 22vw;
}

.g__column-img {
    height: 44.3vh;
    width: 50%;
    background-repeat: no-repeat;
    background: url(../img/overons.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.g__row-ons {
    padding-top: 11%;
}

.g__row-margin {
    margin: 5% 0 10% 0;
}

.test {
    margin-top: 15%;
}

p.alinea {
    color: rgb(255, 255, 255);
    padding: 0 5% 0 5%;
    line-height: 1.7;
    font-size: 1.1em;
}

p.alinea-top {
    padding-top: 3%;
}

.border_tussentitel {
    border-top: 6px solid rgb(255, 255, 255);
    width: 26%;
    margin: 50% 0 0 5%; 
}

h1.tussentitel_diensten {
    font-size: 2.2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0 0 0 5%;
}

p.alinea_diensten {
    color: rgba(0, 0, 0, 0.6);
}


/* Cards */

.team {
  width: 74%;
  min-height: 43vh;
  border: 3px solid #61c19c;
  background-color: #FFF;
  margin: 0 0 0 13%;
}

.card_circle {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 6%;
}


img.circle {
  border-radius: 50%;  
}

h2 {
  margin: 4% 0 0 20%;
  text-align: center;
  border-bottom: 2px solid #61c19c;
  width: 64%;
  color: #61c19c;
}

p.team_functie {
  color: #61c19c;
  margin: 1% 0 0 40%;
}

p.functie {
  text-align: center;
  color: #61c19c;
  margin: 6% 6% 0 6%;
  padding-bottom: 3%;
}


/* forms */

.box {
  width: 48%;
  height: 57vh;
}

fieldset {
  border: none;
  font-family: 'questrial', sans-serif;
}

.contact-frm {
    position:relative;
    display: block;
    margin: 2.2em 0 1.1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.contact-frm--border {
  border-bottom: none;
  color: rgb(84, 84, 84);
  font-size: 16px;
}

.contact-frm input {
    display: block;
    font-size: 1.1em;
    border: none;
    background: none;
    font-family: 'questrial', sans-serif;
}

#subject {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(221, 221, 221, 1);
  display: block;
  min-width: 100%;
}

textarea {
  border: none;
  max-height: 13vh;
  resize: none;
}

.verzenden {
    float: right;
}

.contact_info {
    height: 65vh;
    background-color: #61c19c;
}

.contact_margin {
    margin-bottom: 20%;
}

.contact_btn {
    float: left;
}

.icon_contact {
    margin-top: 20%;
}

.contact_para {
    margin: 5% 0 0 8%;
}

p.contact_para {
    color: rgb(255, 255, 255);
    margin: 1% 0 0 0;
    font-size: 1.2em;
    padding-left: 10%;
}

p.contact_para > span {
    padding-left: 5%;
}

p.contact_para > span.huistelefoon {
    padding-left: 11.8%;
}

.social_icons {
    padding: 10% 0 0 5%;
}

.facebook {
    padding-left: 8.2%;
}

a.socialmedia {
    text-decoration: none;
}

div.social {
    padding: 8% 0 2% 0;
}

/* Hero */

.hero {
  background: url('../img/home.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:  85vh;
  position: relative;
}

.hero_diensten {
  background: url('../img/diensten.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:  440px;
  position: relative;
}

/* portfolio */

.portfolio {
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.portfolio_hover:hover .portfolio {
  opacity: 0.3;
}

.portfolio_hover:hover .middle {
  opacity: 1;
}

.text {
  background-color: #61c19c;
  color: white;
  font-size: 1em;
  padding: 12px 20px;
  font-family: 'muli';
  font-weight: bold;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

/* Footer */

h3.footer {
    color: rgb(206, 210, 211);
    font-size: 1.25em;
    font-weight: bold;
}

h3.footer-meer {
    margin-top: -1.5%;
}

.footer-wrapper {
	display: block;
	margin: 0;
    padding: 0;
    background: #16243e;
    height: 360px;
}

.g__column-line {
    border-left: 1px solid rgba(221, 221, 221, 0.4);
    height: 320px;
    margin-top: 2%;
}

.socialmedia a {
        display: block;
        width: 30px;
        height: 30px;
        overflow: hidden;
        text-indent:-999px;
        background-position: 0 0;
        background-size: 100% auto;
    }

ul.footer__socialmedia {
  list-style-type: none;
}

ul.footer__socialmedia > li > a {
  display: block;
  text-decoration: none;
  font-family: 'open sans', sans-serif;
  color: rgba(221, 221, 221, 1);
  font-weight: bold;
  margin-left: -17.5%;
  padding-bottom: 6%;
  font-size: 0.9em;
}

ul.footer__socialmedia > li > a:hover {
  color: #FFF;
}

p.footer__telefoon {
    margin: 0 0 0 0;
    color: rgba(221, 221, 221, 1);
}

.footer__contact {
    border-bottom: 1px solid rgba(221, 221, 221, 0.4);
    padding-bottom: 6%;
    width: 90%;
    margin-bottom: 6%;
}

picture.socialmedia_btn {
    margin-right: 6%;
}

picture.footer_contact_btn {
    float: left;
    margin-right: 6%;
}

p.footer__telefoon > span {
    padding-left: 8%;
}

p.footer__telefoon > span.telefoon {
    padding-left: 19%;
}

iframe.footer_map {
    width: 262px;
    height: 85px;
}

.margin_bottom {
    margin-bottom: 5%;
}

/* Home */ 

.home_diensten {
    height: 40vh;
    margin: 0 0 5% 0;
    color: rgb(255, 255, 255);
    background-color: #61c19c;
    border-color: rgb(255, 255, 255);
}

.home_diensten:hover {
    background-color: rgb(255, 255, 255);
    color: #61c19c;
    border-color: #61c19c;
    transition: .5s ease;
}

.home_diensten-border {
    border-left: 2px solid rgb(255, 255, 255);
}

.home-titel {
    font-size: 2em;
    font-weight: bold;
    border-top: 5px solid;
}

.home-titel-projecten {
    border: none;
    color: #61c19c;
    margin-top: 10%;
}

p.quote {
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    padding-top: 3%;
}

.g__column-home-green {
    background-color: #61c19c;
    min-height: 24vh;
    margin: 10% 0 10% 0;
}