* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.intro {
  width: 90vw;
  padding: 1rem;
  margin-top: 1rem;
  color: rgba(0,0,0 ,1);
}

/* Knoppen */

.button {
    border-radius: 0;
    border-style: solid;
    border-width: 0 0;
    display: inline-block;
    font-weight: bold;
    padding: .25em .5em;
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
}

.button--primary,
.button--primary:active,
.button--primary:visited {
    border: 3px solid #15243d;
    color: #15243d;
}
.button--primary:hover {
    background-color: #61c19c;
    color: #FFF;
    border: 3px solid #61c19c;
}

.button--secondary,
.button--secondary:active,
.button--secondary:visited {
    background-color: #15243d;
    color: #FFF;
}
.button--secondary:hover {
    background-color: #7f8084;
    color: #FFF;
}

/* Kleuren */

.colours__colour {
    background-color: #EEE;
    border: .25rem solid #FFF;
    box-shadow: 0 0 1px #000;
    float: left;
    height: 3.5rem;
    width: 3.5rem;
}
.colours__colour + .colours__colour {
    margin-left: 1rem;
}

.colours__colour--a {
    background-color: #ced2d3;
}
.colours__colour--b {
    background-color: #16243e;
}
.colours__colour--c {
    background-color: #61c19c;
}
.colours__colour--d {
    background-color: #7f8084;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}
.clearfix::after {
    clear: both;
}

/* List */

ul {
  list-style-type: circle;
}